@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  font-family: "Raleway", sans-serif;
  cursor: url("cursors/purple-cursor.cur"), auto;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(167, 144, 187);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* chat box section */

.chat-box {
  width: 400px;
  height: 450px;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}

.chat-box.expanded {
  /* width: 600px;
  height: 600px; */
  overflow: scroll;
}

#scroll-button {
  position: absolute;
  top: 25%;
  left: 36%;
  width: 10%; /* Adjust the width as needed */
  z-index: 1;
  /* You can also add height if needed, e.g., height: 50%; */
}

#scroll-button:hover {
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.8); /* Adjust the values as needed */
}

/* about client */

.client {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 80px;
  background-color: rgb(88, 63, 111);
  padding: 15px;
  top: 0;
  position: sticky;
  z-index: 1;
}

.client img {
  position: absolute;
  top: -225%;
  left: -5%;
  width: 190%; /* Adjust the width as needed */
}

.client-info {
  color: rgb(236, 225, 247);
  padding: 15px;
}
.client-info p {
  color: rgb(222, 255, 187);
  font-weight: bold;
  font-size: 0.8em;
}

/* chat section */

.chats {
  width: 100%;
  padding: 0 15px;
  color: #fff;
  position: relative;
  font-size: 0.9em;
}

.client-chat {
  width: 60%;
  word-wrap: break-word;
  /* background-color: #e0b1cb; */
  /* background-color: #4d194d; */
  background-color: #35012c;
  /* background-color: #5f4b66; */
  padding: 7px 10px;
  border-radius: 10px 10px 10px 0;
  margin: 10px 0;
}

.my-chat {
  width: 60%;
  word-wrap: break-word;
  background-color: #584460;
  padding: 7px 10px;
  border-radius: 10px 10px 0 10px;
  margin: 5px 0 5px auto;
}

.message-time {
  float: right;
  font-size: 0.8em; /* Adjust the font size as needed */
  color: #888; /* Adjust the color as needed */
}

.username-style {
  color: rgb(147, 250, 43);
}

/* input section */

/* .chats {
position: sticky;
} */

.chat-input {
  display: flex;
  align-items: center;
  width: 100%;
  height: 65px;
  background-color: #fff;
  padding: 15px;
  overflow: hidden;
  bottom: 0;
  position: sticky;
  z-index: 1;
}

.chat-input input {
  width: calc(100% - 40px);
  height: 100%;
  background-color: #f9ebff;
  border-radius: 50px;
  color: #8e7c97;
  font-size: 1.2em;
  padding: 0 15px;
}

.chat-input input:hover {
  cursor: url("cursors/but-pur.cur"), auto;
}

.send-btn {
  width: 40px;
  height: 40px;
  background-color: transparent;
  overflow: hidden;
  position: relative;
  margin-left: 5px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.send-btn:active {
  transform: scale(0.85);
}

.send-btn img {
  width: 100%;
  height: 100%;
}

/* chat box button section */
.chat-btn {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  overflow: hidden;
  position: fixed;
  bottom: 20px;
}
.chat-btn img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  transition: 0.4s ease-in-out;
}
.chat-btn:hover img {
  transform: rotate(30deg);
}

/* -- users section -- */

.container-users {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

/* chat box section */

.users-box {
  width: 200px;
  height: 550px;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  left: 290%;
}

/* about client */

.users-list {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 80px;
  background-color: rgb(88, 63, 111);
  padding: 15px;
}

.users-info {
  color: rgb(236, 225, 247);
  padding: 15px;
}
.users-info p {
  color: rgb(222, 255, 187);
  font-weight: bold;
  font-size: 0.8em;
}

.user {
  width: 60%;
  word-wrap: break-word;
  /* background-color: #e0b1cb; */
  /* background-color: #4d194d; */
  background-color: #35012c;
  /* background-color: #5f4b66; */
  padding: 7px 10px;
  border-radius: 10px 10px 10px 0;
  margin: 10px 0;
}

/* chat box button section */
.users-btn {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  overflow: hidden;
  position: fixed;
  bottom: 20px;
  right: 7%;
}
.users-btn img {
  width: 100%; /* Adjust the percentage to your preference */
  height: 100%; /* Adjust the percentage to your preference */
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0px;
  transition: 0.4s ease-in-out;
}

.users-btn:hover img {
  transform: rotate(30deg);
}

/* modal for username */

/* Add this to your CSS */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
