.message-time {
  float: right;
  font-size: 0.8em; /* Adjust the font size as needed */
  color: #888; /* Adjust the color as needed */
}

.username-style {
  color: rgb(147, 250, 43);
}

.fullscreen img {
  position: absolute;
  cursor: pointer;
  bottom: 2%;
  left: 0%;
  width: 6%; /* Adjust the width as needed */
  opacity: 0.9;
  z-index: 1;
}

.fullscreen-text {
  position: absolute;
  bottom: 2%;
  left: 5.5%;
  color: rgb(189, 241, 247);
  border: 0.5px solid;
  border-color: rgb(188, 255, 122);
  border-radius: 25px;
  background-color: rgba(60, 154, 255, 0.386);
  display: none;
}

.send-btn {
  width: 45px;
  height: 45px;
  background-color: transparent;
  overflow: hidden;
  position: absolute;
  top: 7%;
  right: 20%;

  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.send-btn:active {
  transform: scale(0.85);
}

.send-btn img {
  width: 110%;
  height: 130%;
}

/* chat box button section */
.chat-btn {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  /* Other styles */
  cursor: pointer;
  overflow: hidden;
  position: fixed;
  bottom: 20px;
  left: 50%;
}
.chat-btn:hover {
  backdrop-filter: blur(90px); /* Adjust the blur intensity as needed */
  background-image: linear-gradient(
    to right,
    rgba(225, 247, 78, 0.284),
    #ffa6003c
  ); /* Adjust the gradient direction and colors */
}

.chat-btn img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  transition: 0.4s ease-in-out;
}
.chat-btn:hover img {
  transform: rotate(30deg);
}

.tvIcon {
  position: relative;
  width: 30%;
  cursor: url("cursors/phand.cur"), auto;
  z-index: 1; /* Adjust z-index as necessary */
}

/* links style */

.youtube-link {
  font-size: 1rem;
  color: rgb(255, 183, 0); /* For example */
  /* Add other styles */
}

.youtube-link:visited {
  /* Your styles for visited YouTube links */
  color: rgb(243, 209, 150); /* For example */
  /* Add other styles */
}

.other-link {
  /* Your styles for other links */
  color: rgb(221, 255, 0); /* For example */
  /* Add other styles */
}

.other-link:visited {
  /* Your styles for visited other links */
  color: rgb(127, 158, 13); /* For example */
  /* Add other styles */
}

.html-canvas h5 {
  position: absolute;
  top: 2%;
  left: 10%;
  color: rgb(29, 1, 29);
  opacity: 0;
  animation: fadeInOut 60s ease-in-out;
}

@keyframes fadeInOut {
  0% {
    opacity: 0.3; /* Start from fully transparent */
  }
  50% {
    opacity: 0; /* Peak opacity */
  }
  100% {
    opacity: 0; /* End at fully transparent */
  }
}

#toggleRecording {
  position: absolute;
  bottom: 10%;
  right: 2%;
  width: 60px;
  height: 52px;
  background-color: #ecdff8;
  border-radius: 35px;
  z-index: -1;
  opacity: 0.8;
}

#toggleRecording:hover {
  background: linear-gradient(
    to bottom,
    rgba(198, 233, 243, 0.55),
    rgba(198, 208, 243, 0.922)
  );
  opacity: 1;
  border-radius: 35px;
}

/* Style for the audio message container */
.audio-message {
  display: flex;
  height: 29px;
  align-items: center;
  background-color: rgba(207, 181, 246, 0.166);
  z-index: 5;
  border-radius: 15px;
}

.audio-message:hover {
  background: linear-gradient(
    to right,
    rgba(246, 143, 246, 0.239),
    rgba(139, 60, 196, 0.22),
    rgba(77, 77, 188, 0.229),
    rgba(150, 229, 255, 0.487),
    rgba(153, 255, 0, 0.385)
  );
}

/* Style for the play/pause button within .audio-message */
.audio-message .play-pause-button {
  position: relative;
  left: 4%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  margin-right: 10px;
  opacity: 5;
}

/* Style for the progress bar within .audio-message */
.audio-message progress {
  height: 7px;
  background-image: linear-gradient(
    to right,
    rgba(97, 0, 252, 0.855),
    rgba(95, 249, 249, 0.855)
  );
  width: calc(100% - 40px); /* Adjust width as needed */
  margin: 0 10px;
  border-radius: 10px;
  position: relative;
}

/* For Firefox */
::-moz-progress-bar {
  background: linear-gradient(
    to left,
    rgba(246, 143, 246, 0.239),
    rgba(139, 60, 196, 0.22),
    rgba(77, 77, 188, 0.229),
    rgba(213, 255, 150, 0.347),
    rgba(255, 255, 0, 0.385)
  );
  border-radius: 15px;
  opacity: 0.7;
}

/* For WebKit-based browsers like Chrome and Safari */
::-webkit-progress-value {
  background: linear-gradient(
    to left,
    rgba(246, 143, 246, 0.239),
    rgba(139, 60, 196, 0.22),
    rgba(77, 77, 188, 0.229),
    rgba(213, 255, 150, 0.347),
    rgba(255, 255, 0, 0.385)
  );
  border-radius: 15px;
  opacity: 0.7;
}

/* For IE/Edge */
::-ms-fill {
  background: linear-gradient(
    to left,
    rgba(246, 143, 246, 0.239),
    rgba(139, 60, 196, 0.22),
    rgba(77, 77, 188, 0.229),
    rgba(213, 255, 150, 0.347),
    rgba(255, 255, 0, 0.385)
  );
  border-radius: 15px;
  opacity: 0.7;
}

/* Audio bar 2 */

/* Style for the audio message container */
.audio-message2 {
  display: flex;
  height: 29px;
  align-items: center;
  background-color: rgba(207, 181, 246, 0.166);

  border-radius: 15px;
}

.audio-message2:hover {
  background: linear-gradient(
    to right,
    rgba(246, 143, 246, 0.239),
    rgba(139, 60, 196, 0.22),
    rgba(77, 77, 188, 0.229),
    rgba(150, 229, 255, 0.487),
    rgba(153, 255, 0, 0.385)
  );
}

/* Style for the play/pause button within .audio-message */
.audio-message2 .play-pause-button2 {
  position: relative;
  bottom: 9px;
  left: 6px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  margin-right: 10px;
  opacity: 5;
}

/* Style for the progress bar within .audio-message */
.audio-message2 progress {
  top: 10px;
  left: 15%;
  height: 7px;
  background-image: linear-gradient(
    to right,
    rgba(97, 0, 252, 0.855),
    rgba(95, 249, 249, 0.855)
  );
  width: calc(100% - 40px) !important ; /* Adjust width as needed */
  margin: 0 10px;
  border-radius: 10px;
  position: relative;
}

/* For Firefox */
::-moz-progress-bar2 {
  background: linear-gradient(
    to left,
    rgba(246, 143, 246, 0.239),
    rgba(139, 60, 196, 0.22),
    rgba(77, 77, 188, 0.229),
    rgba(213, 255, 150, 0.347),
    rgba(255, 255, 0, 0.385)
  );
  border-radius: 15px;
  opacity: 0.7;
}

.spider-container {
  position: absolute;
  width: 20%;
  right: 7%;
  top: 3%;
  display: none;
  z-index: 1;
}

.spider {
  border-radius: 50%;
  position: relative;
  width: 100%;
  background: linear-gradient(
    45deg,
    #ff00ff0d,
    #00ffff15,
    #ffff0018,
    #ff00ff15
  );
  background-size: 400% 400%;
  animation: gradientAnimation 10s linear infinite;
  backdrop-filter: blur(10px); /* Adjust the blur strength as needed */
  /* Other styles for the spider image */
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.text-overlay {
  position: absolute;
  width: 70%; /* Set the width to 100% */
  height: 70%; /* Set the height to 100% */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

@keyframes animationRainbowText {
  28.56% {
    color: rgb(174, 204, 24); /* Yellow */
  }
}

.text-overlay p {
  color: rgb(204, 240, 27); /* Yellow */
  animation: animationRainbowText 10s linear infinite;
  font-size: 16px; /* Adjust the font size as needed */
  animation: animationRainbow 5s linear infinite;
}

@keyframes animationRainbow {
  0% {
    text-shadow: 0 0 10px rgba(44, 11, 11, 0.7),
      /* Blue */ 0 0 10px rgba(54, 9, 85, 0.7),
      /* Indigo */ 0 0 8px rgba(179, 69, 179, 0.7); /* Violet */
    /* Add any other styles you want for the text */
  }

  100% {
    text-shadow: 0 0 8px rgba(105, 7, 7, 0.7),
      /* Indigo */ 0 0 5px rgba(116, 9, 116, 0.7); /* Violet */
    /* Add any other styles you want for the text */
  }
}

/* .moonMode {
  position: absolute;
  top: 10%;
  left: 3%;
  width: 150px;
}

.sunMode {
  position: absolute;
  top: 70%;
  right: 93%;
  width: 100px;
} */

.mode-toggle {
  cursor: pointer;
  position: absolute;
  top: 5%;
  left: 2%;
  width: 150px;
}
/* 
.pic-up {
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: 5%;
  right: 16%;
  cursor: pointer;
} */

.color-bubbles {
  position: absolute;
  background-color: #ecdff800;
  /* top: 25%;
  right: 18%;
  width: 4%; */
  top: 5%;
  left: 20.5%;
  width: 4%;
  opacity: 0.7;
  z-index: 0;
}
.color-bubbles:hover {
  opacity: 0.9;
}
