.modalStart {
  display: none;
  position: fixed;
  top: 15%;
  left: 30%;
  width: 40%;
  height: 35%;
  background: linear-gradient(45deg, #ff0000, #ff7700, #fffb00, #00ff00, #0000ff, #ff00ff, #ff0000);
  background-size: 600% 600%;
  z-index: 2;
  border-radius: 75px;
  animation: rainbowAnimation 2s linear infinite alternate, opacityAnimation 1s ease-in-out infinite alternate;
}

@keyframes rainbowAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@keyframes opacityAnimation {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0.9;
  }
}


@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.modal-content {
  background-color: rgba(236, 220, 247, 0.9);
  margin: 15% auto;
  padding: 20px;
  /* border: 1px solid #5d377c; */
  border: 1px solid #373c7c;
  width: 55%;
  border-radius: 5px;
  transition: opacity 0.5s ease;
  opacity: 0.6;
}

#submitNameBtn {
  width: 30%;
  color: #99ff00;
  background: linear-gradient(135deg,  #5d377c, #aad8d3);
  border-radius: 25px;
}

#submitNameBtn:hover {
  width: 30%;
  background: linear-gradient(135deg, #acde5b, #aad8d3);
  color:  #5d377c;
  border-radius: 25px;
  animation: gradientAnimation 5s ease infinite alternate;
}



.modalStart:hover .modal-content {
  opacity: 0.9;
}

.close {
  color: rgb(147, 187, 133);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(208, 29, 29);
  text-decoration: none;
  cursor: pointer;
}
