/* -- users section -- */

.container-users {
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative; */
}

/* chat box section */

.users-box {
  width: 200px;
  height: 550px;
  background: linear-gradient(
    to bottom,
    rgba(255, 0, 0, 0.211) 5%,
    rgba(255, 166, 0, 0.257) 27%,
    rgba(255, 255, 0, 0.248) 43%,
    rgba(0, 128, 0, 0.239) 55%,
    rgba(0, 0, 255, 0.222) 67%,
    rgba(76, 0, 130, 0.241) 83%,
    rgba(238, 130, 238, 0.178) 100%
  );
  overflow: hidden;
  border-radius: 10px;
  position: absolute;
  left: 83.5%;
  z-index: 0;
}

.users-box.night {
  background-color: rgba(60, 0, 109, 0.134);
}
/* about client */

.users-list {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 80px;
  /* background: linear-gradient(to right, #584460, rgb(88, 63, 111)); */
  background: linear-gradient(to right, #445060, rgb(63, 71, 111));
  padding: 15px;
}

.users-info {
  color: rgb(236, 225, 247);
  padding: 15px;
}
.users-info p {
  color: rgb(222, 255, 187);
  font-weight: bold;
  font-size: 0.8em;
}

.user {
  width: 60%;
  word-wrap: break-word;
  /* background-color: #e0b1cb; */
  /* background-color: #4d194d; */
  background-color: #35012c;
  /* background-color: #5f4b66; */
  padding: 7px 10px;
  border-radius: 10px 10px 10px 0;
  margin: 10px 0;
}

/* chat box button section */
.users-btn {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  /* background-color: #fff; */
  cursor: pointer;
  overflow: hidden;
  position: fixed;
  bottom: 20px;
  right: 7%;
}
.users-btn:hover {
  backdrop-filter: blur(90px); /* Adjust the blur intensity as needed */
  background-image: linear-gradient(
    to right,
    rgba(225, 247, 78, 0.284),
    #ffa6003c
  );
}
.users-btn img {
  width: 100%; /* Adjust the percentage to your preference */
  height: 100%; /* Adjust the percentage to your preference */
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0px;
  transition: 0.4s ease-in-out;
}

.users-btn:hover img {
  transform: rotate(30deg);
}

/* users list */

li {
  padding: 5px;
  font-size: 1.2rem;
  background-color: rgba(255, 209, 144, 0.575);
  color: #35012c;
  font-family: "Kanit", sans-serif;
}

li:hover {
  background-color: rgba(207, 255, 144, 0.575);
  color: #35012c;
}
